.reminder_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vh{
    height: 100vh;
}
.reminder_container{
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    max-width: 700px;
    min-width: 500px;
    
    border-radius: 10px;
    padding: 1rem;
    margin: 4rem;
}
.reminder_container h1{
    text-align: center;
}

.reminder_list{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.submit_reminder_btn{
    font-size: 20px;
    border: none;
    background-color: #1640d6f0;

    box-shadow: 0px 0px 20px #65656575;
    border: 2px solid rgba( 255, 255, 255, 0.18 );

    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.submit_reminder_btn:hover{
    background-color: #001a79f0;
}

.reminder_form{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0.5rem 0;
}
.todo_input{
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    background-color: #ffffff99;
    box-shadow: 0px 0px 20px #65656575;
    width: 100%;
    margin-right: 1rem;

    border-radius: 10px;
    font-size: 1.25rem;
    padding-left: 0.5rem;
    outline: none;
}
.reminder_count{
    text-align: center;
}

ul{
    padding: 0;
}

@media (max-width: 650px){
    .reminder_container{
        margin: 4rem 0;
        width: 100%;
        min-width: auto;
    }
}

@media (max-width: 550px){
    .reminder_container{
        padding: 0;
    }
}