.reminder_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.reminder_container{
    background-color: #eee;
    max-width: 500px;
    min-width: 500px;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 10px;
    padding: 1rem;
    margin: 4rem;
}
.reminder_container h1{
    text-align: center;
}

.reminder_list{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.submit_reminder_btn{
    font-size: 20px;
    border: none;
    background-color: #1640D6;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.submit_reminder_btn:hover{
    background-color: #001B79;
}

.reminder_form{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0.5rem 0;
}
.todo_input{
    width: 85%;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.25rem;
    padding-left: 0.5rem;
}
.reminder_count{
    text-align: center;
}

ul{
    padding: 0;
}

@media (max-width: 650px){
    .reminder_container{
        margin: 4rem 0;
        width: 100%;
        min-width: auto;
    }
}

@media (max-width: 550px){
    .reminder_container{
        padding: 0;
    }
}