.cgpa_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cgpa_container{
    background-color: #fff;
    max-width: 550px;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 10px;
    padding: 1rem;
    margin: 4rem;
}
@media (max-width:500px) {
    .cgpa_container{
        box-shadow: none;
    }
}
.cgpa_container h1{
    text-align: center ;
}

.add_btn{
    margin: 1rem 0 1rem 2rem;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #7dcb84;
    color: white;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.add_btn:hover{
    background-color: #60b067;
}

@media (max-width: 600px) {
    .cgpa_container{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .cgpa_container h1{
        font-size: 42px;
    }
}