.table_container h1{
    text-align: center;
}
.table_wrapper{
    width: 100%;
}

.table{
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    white-space: nowrap;
    max-width: auto;
    margin: auto;
    overflow-x: auto;
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.table thead{
    background-color: rgba(0, 0, 0, .25);
    color: #222;
}
.table tbody{
    background-color: rgba(255,255,255,0.25);
}

.table th,
.table td{
    padding: 0.8rem;
}

.table td{
    border-top: 0.5 px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0);
}

.edit_btn{
    border: none;
    font-size: 24px;

    transition: all 0.2s ease-in-out;
}
.edit_btn:hover{
    color: green;
}

.delete_btn{
    color: #ff0f07;
    border: none;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}
.delete_btn:hover{
    color: #ce1e18;
}

.red{
    color: #e10d05;
}
.green{
    color: green;
}
.graph{
    margin: 1rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 730px) {
    .graph{
        margin: 0;
    }
}