*{
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --nav: rgba(226, 226, 226, 0.25);
  --tblack: rgba(0, 0, 0, 0.37);
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  margin: 0;
  background-image: url('./assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3.2em;
}

